{% extends 'nav.html' %}
{% block content %}
    <div class="container">
        <form action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-12">
                    <label for="section">Username:</label>
                    <input type="text" class="form-control" name="username" id="username" value="{{username}}" required>
                </div>
                <div class="form-group col-12">
                    <label for="section">Password:</label>
                    <input type="password" class="form-control" name="password" id="password" value="{{password}}" required>
                </div>             
            </div>
            <button type="submit" class="btn btn-info">ยืนยัน</button>
        </form>
    </div>
{% endblock %}

